<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.dao.HotelOrderMapper">
  <resultMap id="BaseResultMap" type="com.etc.entity.HotelOrder">
    <id column="hOrderId" jdbcType="INTEGER" property="horderid" />
    <result column="hotelName" jdbcType="VARCHAR" property="hotelname" />
    <result column="roomType" jdbcType="VARCHAR" property="roomtype" />
    <result column="roomDate" jdbcType="TIMESTAMP" property="roomdate" />
    <result column="roomPrice" jdbcType="DOUBLE" property="roomprice" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userPhone" jdbcType="DOUBLE" property="userphone" />
    <result column="userCard" jdbcType="DOUBLE" property="usercard" />
    <result column="orderDate" jdbcType="TIMESTAMP" property="orderdate" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
  </resultMap>
  
  <sql id="Base_Column_List">
    hOrderId, hotelName, roomType, roomDate, roomPrice, userName, userPhone, userCard, 
    orderDate, userId
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hotelorder
    where hOrderId = #{horderid,jdbcType=INTEGER}
  </select>
  
  <select id="getAll" resultType="com.etc.entity.HotelOrder">
  select * from hotelorder
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hotelorder
    where hOrderId = #{horderid,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.etc.entity.HotelOrder">
    insert into hotelorder (hOrderId, hotelName, roomType, 
      roomDate, roomPrice, userName, 
      userPhone, userCard, orderDate, 
      userId)
    values (#{horderid,jdbcType=INTEGER}, #{hotelname,jdbcType=VARCHAR}, #{roomtype,jdbcType=VARCHAR}, 
      #{roomdate,jdbcType=TIMESTAMP}, #{roomprice,jdbcType=DOUBLE}, #{username,jdbcType=VARCHAR}, 
      #{userphone,jdbcType=DOUBLE}, #{usercard,jdbcType=DOUBLE}, #{orderdate,jdbcType=TIMESTAMP}, 
      #{userid,jdbcType=INTEGER})
  </insert>
  
  <insert id="insertSelective" parameterType="com.etc.entity.HotelOrder">
    insert into hotelorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="horderid != null">
        hOrderId,
      </if>
      <if test="hotelname != null">
        hotelName,
      </if>
      <if test="roomtype != null">
        roomType,
      </if>
      <if test="roomdate != null">
        roomDate,
      </if>
      <if test="roomprice != null">
        roomPrice,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="userphone != null">
        userPhone,
      </if>
      <if test="usercard != null">
        userCard,
      </if>
      <if test="orderdate != null">
        orderDate,
      </if>
      <if test="userid != null">
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="horderid != null">
        #{horderid,jdbcType=INTEGER},
      </if>
      <if test="hotelname != null">
        #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="roomtype != null">
        #{roomtype,jdbcType=VARCHAR},
      </if>
      <if test="roomdate != null">
        #{roomdate,jdbcType=TIMESTAMP},
      </if>
      <if test="roomprice != null">
        #{roomprice,jdbcType=DOUBLE},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        #{userphone,jdbcType=DOUBLE},
      </if>
      <if test="usercard != null">
        #{usercard,jdbcType=DOUBLE},
      </if>
      <if test="orderdate != null">
        #{orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etc.entity.HotelOrder">
    update hotelorder
    <set>
      <if test="hotelname != null">
        hotelName = #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="roomtype != null">
        roomType = #{roomtype,jdbcType=VARCHAR},
      </if>
      <if test="roomdate != null">
        roomDate = #{roomdate,jdbcType=TIMESTAMP},
      </if>
      <if test="roomprice != null">
        roomPrice = #{roomprice,jdbcType=DOUBLE},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        userPhone = #{userphone,jdbcType=DOUBLE},
      </if>
      <if test="usercard != null">
        userCard = #{usercard,jdbcType=DOUBLE},
      </if>
      <if test="orderdate != null">
        orderDate = #{orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where hOrderId = #{horderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etc.entity.HotelOrder">
    update hotelorder
    set hotelName = #{hotelname,jdbcType=VARCHAR},
      roomType = #{roomtype,jdbcType=VARCHAR},
      roomDate = #{roomdate,jdbcType=TIMESTAMP},
      roomPrice = #{roomprice,jdbcType=DOUBLE},
      userName = #{username,jdbcType=VARCHAR},
      userPhone = #{userphone,jdbcType=DOUBLE},
      userCard = #{usercard,jdbcType=DOUBLE},
      orderDate = #{orderdate,jdbcType=TIMESTAMP},
      userId = #{userid,jdbcType=INTEGER}
    where hOrderId = #{horderid,jdbcType=INTEGER}
  </update>
</mapper>