<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.dao.HotelMapper">
  <resultMap id="BaseResultMap" type="com.etc.entity.Hotel">
    <id column="hotelId" jdbcType="INTEGER" property="hotelid" />
    <result column="hotelPic" jdbcType="VARCHAR" property="hotelpic" />
    <result column="hotelName" jdbcType="VARCHAR" property="hotelname" />
    <result column="hotelPrice" jdbcType="DOUBLE" property="hotelprice" />
  </resultMap>
  
  <sql id="Base_Column_List">
    hotelId, hotelPic, hotelName, hotelPrice
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hotel
    where hotelId = #{hotelid,jdbcType=INTEGER}
  </select>
  
  <select id="getALl" resultType="com.etc.entity.Hotel">
  select * from hotel
  </select>

  
    <!-- 查询六条记录 -->
  <select id="getSix" resultType="com.etc.entity.Hotel">
  select * from hotel limit 6
  </select>
  
 <!-- 查询六条记录 -->
  <select id="getHotelByLoc" resultType="com.etc.entity.Hotel">
  select * from hotel where hotelName like concat(concat('%',#{hotelname}),'%')
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hotel
    where hotelId = #{hotelid,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.etc.entity.Hotel">
    insert into hotel (hotelId, hotelPic, hotelName, 
      hotelPrice)
    values (#{hotelid,jdbcType=INTEGER}, #{hotelpic,jdbcType=VARCHAR}, #{hotelname,jdbcType=VARCHAR}, 
      #{hotelprice,jdbcType=DOUBLE})
  </insert>
  
  <insert id="insertSelective" parameterType="com.etc.entity.Hotel">
    insert into hotel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hotelid != null">
        hotelId,
      </if>
      <if test="hotelpic != null">
        hotelPic,
      </if>
      <if test="hotelname != null">
        hotelName,
      </if>
      <if test="hotelprice != null">
        hotelPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hotelid != null">
        #{hotelid,jdbcType=INTEGER},
      </if>
      <if test="hotelpic != null">
        #{hotelpic,jdbcType=VARCHAR},
      </if>
      <if test="hotelname != null">
        #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="hotelprice != null">
        #{hotelprice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etc.entity.Hotel">
    update hotel
    <set>
      <if test="hotelpic != null">
        hotelPic = #{hotelpic,jdbcType=VARCHAR},
      </if>
      <if test="hotelname != null">
        hotelName = #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="hotelprice != null">
        hotelPrice = #{hotelprice,jdbcType=DOUBLE},
      </if>
    </set>
    where hotelId = #{hotelid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etc.entity.Hotel">
    update hotel
    set hotelPic = #{hotelpic,jdbcType=VARCHAR},
      hotelName = #{hotelname,jdbcType=VARCHAR},
      hotelPrice = #{hotelprice,jdbcType=DOUBLE}
    where hotelId = #{hotelid,jdbcType=INTEGER}
  </update>
</mapper>